<h1>List of shoe orders</h1>

<% @shoes.each do |shoe| %>
  <p><strong>Name:</strong> <%= shoe.name %></p>
  <p><strong>Address:</strong> <%= shoe.address %></p>
  <p><strong>Quantity:</strong> <%= shoe.quantity %></p>
  <p><strong>Size:</strong> <%= shoe.size %></p>

  <hr>

<% end %>