<!DOCTYPE html>
<html>
<head>
  <title>Shoe Shop</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>


<img src="http://1.bp.blogspot.com/-o82PWb-hEDo/U0lxIqrLvmI/AAAAAAAAIY4/8JKWthGY8fw/s1600/homerdance.gif"><img src="https://ae01.alicdn.com/kf/HTB1eHAIKpXXXXaxXVXXq6xXFXXXX/New-2013-canvas-shoes-lady-canvas-shoes-1908.jpg_350x350.jpg"><img src="https://media.giphy.com/media/pVtulZdJsUuCQ/giphy.gif">


<%= yield %>
</body>
</html>