<h1>Buy my shoes or get off the site, you're causing traffic!</h1>

<form action="/shoe" method="post">
<p>
<strong>Name:</strong>
<input type="text" name="name">
</p>

<p>
<strong>Address:</strong>
<input type="text" name="address">
</p>

<p>
<label for="quantity"><strong>Quantity:</strong> </label>
<input type="number" name="quantity" id="quantity">
</p>

<p>
<label for="size"><strong>Size:</strong> </label>
<select name="size" id="size">
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
</select>
</p>

<input type="submit" class="submit" value="Place Order">

</form>